@(workingProject: Project, promptForm: Form[Prompt], prompts: List[models.Prompt])
@import helper._



@main("text.to(WAV) - Prompts") {
	<h1>Prompts <br><small>@workingProject.name </small></h1>
    
    @form(action = routes.Application.generatePrompts(workingProject.id), 'class -> "form-inline") { 
		
		<div class="input-append">
  			<input type="text" class="input-medium" placeholder="File Name" name="filename"><span class="add-on">.wav</span>
		</div>
		<input type="text" class="input-xxlarge" placeholder="Text" name="text">
		
		 <button type="submit" class="btn">Generate</button>	
		

	}
	
	@if(prompts.size() > 0){
		<div class="alert alert-success">
			Found @prompts.size() prompt(s)     
			@defining("output/" + workingProject.id + ".zip") { ziplocation =>
			<a href="@routes.Application.getZipOfProjectFiles(workingProject.id)">Download a zip file of all prompts!</a>
			}
		</div>
		
	} else {
		<div class="alert alert-error">
		  No Prompts found for @workingProject.name!
		</div>
	}
	
	<table class="table table-striped table-bordered table-hover">
				<thead>
					<tr>
						<th style="width: 100px"></th>
						<th style="width: 20%">File</th>
						<th>Text</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
					@for(prompt <- prompts) {
					
						
						<tr>
							<td>
								<audio controls="controls" style="width: 175px" >
								  <source src="@routes.Application.getPromptWavFile(prompt.id)" type="audio/wav">
								Your browser does not support the audio element.
								</audio>
							</td>
							<td ><a href="@routes.Application.getPromptWavFile(prompt.id)"> @{prompt.filename + ".wav"}</a></td>
							<td>@{prompt.text }</td>
							<td>
							<a href="@routes.Application.deletePromptFromProject(workingProject.id, prompt.id)"><i class="icon-remove"></i></a>
								<a href="@routes.Application.getPromptWavFile(prompt.id)"><i class="icon-download-alt"></i></a>
								
							</td>
							
						
						</tr>
						
					}
					
				</tbody>
				</table>
    
}	

